@using Volo.Abp.AspNetCore.Mvc.UI.Layout

@model ContentLayout

<!--begin::Page title-->
<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
    <!--begin::Title-->
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
        @Model.Title
    </h1>
    <!--end::Title-->
</div>
<!--end::Page title-->