@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars
@model Toolbar
<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">

    <!--begin::Theme mode-->
    <div class="app-navbar-item ms-1 ms-md-3">
        <partial name="~/Pages/partials/theme-mode/_main.cshtml"/>
    </div>
    <!--end::Theme mode-->
    
    @foreach (var toolbarItem in Model.Items.OrderBy(i => i.Order))
    {
        @(await Component.InvokeAsync(toolbarItem.ComponentType))
    }

    <!--begin::Header menu toggle-->
    <div class="app-navbar-item d-lg-none ms-2 me-n2" title="Show header menu">
        <div class="btn btn-flex btn-icon btn-active-color-primary w-30px h-30px" id="kt_app_header_menu_toggle">
            <i class="ki-duotone ki-element-4 fs-1">
                <span class="path1"></span><span class="path2"></span>
            </i>
        </div>
    </div>
    <!--end::Header menu toggle-->
</div>
<!--end::Navbar-->